/*Corpo principal do site*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:aliceblue;
}

/*Seção Banner(Hero)*/
.hero{
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}
