/*Fonte DM Sans usada no site*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Fonte DM Serif Display*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/*Fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Corpo principal do site*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f5f8fa8a;
}

/*Seção Banner(Hero)*/
.hero_home{
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/*Conteúdo do hero*/

/*Estilização título principal do banner*/
.title_Hero_home{
    margin: 0 auto 40px auto;
    max-width: 40rem;
    text-align: center;
}

.title_font1_home{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    color: #0A0430;
}

.title_font2_home{
    font-family: DM Serif Display, sans-serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 500;
    color: #0A0430;
}

/*Estilização Legendas e icones flutuantes do banner HOME*/
.legenda_banner_home{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: -30px auto 0 auto;
    text-align: center;
    color: #0A0430;
    width: 60%;
}

.Btn_Legenda{
    top: 2rem;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background-color: #704EEA;
    border: none;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
}

.icon_btn_Legenda{
    position: absolute;
    margin-left:10px;
    margin-top: 2px;
}


.iconCircle1_home{
    position: absolute;
    top: 11rem;
    right: 13rem;
}

.iconCircle2_home{
    position: absolute;
    top: 25rem;
    left: 2rem;
}

.iconPlus1_home{
    position: absolute;
    right: 14rem;
    top: 30rem;
}

.iconPlus2_home{
    position: absolute;
    top: 4rem;
}

.iconStar1_home{
    position: absolute;
    top: 15rem;
    right: 2rem;
}

.iconStar2_home{
    position: absolute;
    top: 10rem;
    left: 10rem;
}

/*Estilização da seção Nossas Ferramentas do site*/
.Nossas_Ferramentas_Home{
    padding-top: 2rem;
    margin: 2rem auto;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title_NFerramentas_Home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25rem;
}

.title_NFerramentas1{
    font-family: DM Sans, sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #0A0430;
}

.title_NFerramentas2{
    font-family: DM Serif Display, sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    color: #6F24E9;
}

.grupo_Ferramentas_Home{
    margin-top: 40px;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moldura_Ferramenta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    width: 360px;
    height: 400px;
    background-color: #704EEA;
    border-radius: 50px;
}

.title_MFerramentas1{
    margin-left: 2.5rem;
    margin-bottom: 3rem;
    font-family: DM Sans, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFDF2;
}

.title_MFerramentas2{
    font-family: DM Serif Display, sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    color: #FFC62F;
}

.subtitle_MFerramentas{
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0A0430;
}

/*Estilização da seção Nossa Equipe do site*/
.Nossa_Equipe{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45rem;
    background-color: #704EEA;
    margin: 20px auto;
}

.title_Nossa_Equipe{
    border: 1px solid black;
    margin: 0 auto 40px auto;
    max-width: 60rem;
    text-align: center;
}

.title_font1_NEquipe{
    font-family: DM Serif Display, sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 500;
    color: #FFFDF2;
}

.title_font2_NEquipe{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    color: #FFFDF2;
}

.Img_Equipe{
    margin: 20px auto;
    max-width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.profile_Equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 19rem;
    height:auto;
}

.title_DescProfile1{
    margin-bottom: 3rem;
    font-family: DM Sans, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFDF2;
}

.title_DescProfile2{
    margin-top: -2.6rem;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFDF2;
}
.iconStarYB_profissionais{
    position: absolute;
    width: 233px;
    height: 229px;
    top:78rem;
}
.iconStarGray_profissionais{
    position: absolute;
    top: 85rem;
    right: 1rem
}
/*Estilização da seção Leia Artigos do site*/
.Leia_artirgos_Home{
    padding: 2rem;
    text-align: l;
}

.title_LeiaArtigos_Home{
    font-size: 2rem;
    font-weight: bold;
    color: #000
}

.title_LeiaArtigos_Home .destaque{
    color: #6A5ACD;
    font-style:italic;
}

.grupo_LeiaArtigos_Home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.subtitle_Artigos{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
.Plataforma_Videos {
    background-color:#FFC62F;
    padding: 80px;
    border-radius: 40px;
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin: auto;
}
.title_PlataformaVideos{
    color:#333;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;

}
.highlight{
    color:#9147eb;
    font-weight: bold;
}
.Subtitle_PlataformaVideos{
    font-size: 1rem;
    color:#333;
    margin-bottom: 30px;
}
.btn{
    background-color: #9147eb;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block
}
.btn:hover {
    background-color: #762bcc;