* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.nav-logo {
  height: 45px;
}

.nav {
  background-color: #704eea;
  padding: 20px 45px;
  border-radius: 100px;
  position: relative;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.2px;

  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #fff3a9;
}

.active:link,
.active:visited {
  font-weight: 800;
}

.select_home,
.select_videos,
.select_forum,
.select_pais_profs {
  background-image: url("/img/images_navbar/seleção.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -28px;
  height: 50px;
  width: 50px;
}

.select_home {
  left: 40px;
}

.select_videos {
  left: 125px;
}

.select_forum {
  left: 205px;
}

.select_pais_profs {
  left: 312px;
}
