* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: "DM Sans", sans-serif;
}

.section-hero {
  margin-top: 30px;
  padding-top: 30px;
  background-image: url("/img/images_pais_profs/decor.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  max-width: 1250px;
  margin: 0 auto;
}

.hero {
  max-width: 1100px;
  margin: 0 auto;
}

.heading-hero {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.description-hero {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.text-recusos,
.text-fortalecimento,
.text-colorir,
.text-didaticos,
.text-pais-profs {
  font-family: "DM Serif Display", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.text-recusos,
.text-colorir {
  color: #f19436;
}

.text-fortalecimento,
.text-didaticos {
  color: #704eea;
}

.text-pais-profs {
  color: #e924ae;
}

.retangle-colorir,
.retangle-didaticos,
.retangle-pais-profs {
  height: 8px;
  width: 60px;
  margin-bottom: 35px;
}

.retangle-colorir {
  background-color: #f19436;
}

.retangle-didaticos {
  background-color: #704eea;
}

.retangle-pais-profs {
  background-color: #e924ae;
}

.heading-display {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}

.section-recursos {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 110px;
}

.card-img {
  margin-bottom: 10px;
}

.transparecia-img {
  position: relative;
  display: inline-block;
}

.transparecia-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb55540;
  z-index: 2;
  border-radius: 10%;
}

.transparecia-img img {
  position: relative;
  display: block;
}

.heading-card {
  font-size: 24px;
  font-weight: 700;
  padding-left: 15px;
}
