/*Fonte DM Sans usada no site*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Fonte DM Serif Display*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/*Fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Seção Banner(Hero)*/
.hero_PagForms{
    margin: 7rem auto 0 auto;
    max-width: 90%;
    height: 35rem;
    display: flex;
    flex-direction: row;
}

.hero_forms_content{
    padding-top: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero_forms_images{
    flex: 1;
}

/*Estilização de componentes de text e button da seção hero - esquerdo*/

.title_FormsPage{
    margin: 0 auto 0 auto;
    width: 32rem;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 600;
    color: #0A0430;
}

.title_FormsPage2{
    font-family: DM Serif Display, sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 500;
    color: #0A0430;
}

.label_formsPage{
    width: 25rem;
    margin: 2rem 10rem 0 auto;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #0A0430;
}

.Btn_Legenda{
    top: 2rem;
    left: 3.6rem;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background-color: #704EEA;
    border: none !important;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
}

.icon_btn_Legenda{
    position: absolute;
    margin-left:10px;
    margin-top: 2px;
}

/*Estilização de imagens da seção hero - direito*/
.hero_forms_images{
    position: relative;
}

.img_hero_forms1{
    position: absolute;
    top: 5rem;
    right: 0.8rem;
}

.img_hero_forms2{
    position: absolute;
    top: 19rem;
    right: 19.5rem;
}

.rectangleImages_Forms{
    position: absolute;
    left: 11rem;
    width: 180px;
    height: 80px;
    border-radius: 100px;
    border: 15px solid #ffffff;
    background-color: #FFC62F;
}

/*Estilização do input comentário da seção Forms*/
/*
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5%;
    
}

form{
    background-color: #fff;
    max-width: 900px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    border-color: #ccc;
    border-width: 2px;
}

.input-single{
    position: relative;
    margin: 20px 0;
}

.input-single label{
    position: absolute;
    left: 0;
    bottom: 50px;
    transition: all 0.2s;
    cursor: text;
}

.input{
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 20px;
    outline: 0;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #ccc;
}

.btn{
    text-align: right;
    text-align: end;
}

form input[type=submit]{
    background-color: plum;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: purple; 
}
*/

/*Estilização da seção de comentários feitos pelos usuários na página Forms*/
.comment_users_forms{
    border: 1px solid black;
    margin: 7rem auto 0 auto;
    max-width: 90%;
    height: 35rem;
    display: flex;
    flex-direction: column;
}

.comentario_PagForms{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    border: 1px solid #0000003b;
    border-radius: 50px;
    box-shadow: 0 0 5px #00000033;
    width: 60rem;
    height: 25rem;
}

.titleComment_Forms{
    height: 7rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.textTitle_Comment{
    font-size: 36px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
}

.ContentComment_Forms{
    padding-left: 3rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
}

.UpContent_Forms{
    flex: 1;
    display: flex;
    flex-direction: row;
}  

.Group_profile_icon_forms{
    position: relative;
}

.profileRectangleForms{
    width: 60px;
    height: 60px;
    background-color: #DFC8FE;
    border-radius: 12px;
}

.icon_profile{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Group_Text_profile{
    padding-left: 1.5rem;
}

.text_profile1{
    margin-top: 10px;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.text_profile2{
    margin-top: -10px;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    color: #D9D9D9;
}

.text_profile3{
    margin-top: 10px;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0A0430;
}

.DownContent_Forms{
    flex: 1;
}  

.FooterComment_Forms{
    border: 1px solid black;
    height: 7rem;
}