/*Fonte DM Sans usada no site*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/*Fonte DM Serif Display*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/*Fonte Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Corpo principal do site*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8fa8a;
}

/*Seção Banner(Hero)*/
.hero {
  margin: 20px auto;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*Conteúdo do hero*/

/*Estilização título principal do banner*/
.title_Hero {
  margin: 0 auto 40px auto;
}

.title_font1 {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 500;
  color: #0a0430;
}

.title_font2 {
  font-family: DM Serif Display, sans-serif;
  font-style: italic;
  font-size: 48px;
  font-weight: 500;
  color: #0a0430;
}

/*Estilização Conjunto de imagens, legendas e icones flutuantes do banner*/
.imgs_banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.img {
  margin: auto 0;
  padding: 10px;
}

.img1 {
  margin-bottom: 20px;
}

.legenda_banner {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 25px auto 40px auto;
  text-align: center;
  color: #0a0430;
  width: 60%;
}

.iconCircle1 {
  position: absolute;
  top: 11rem;
  right: 13rem;
}

.iconCircle2 {
  position: absolute;
  top: 25rem;
  left: 2rem;
}

.iconPlus1 {
  position: absolute;
  right: 14rem;
  top: 40rem;
}

.iconPlus2 {
  position: absolute;
  left: 3rem;
  top: 6rem;
}

.iconStar1 {
  position: absolute;
  right: 2rem;
}

.iconStar2 {
  position: absolute;
  top: 10rem;
  left: 10rem;
}

/*Estilização descrição dos serviços do site*/
.categorias_produto {
  margin: 0 auto;
  max-width: 1100px;
  height: 200px;
  display: flex;
}

.categorias {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.icons {
  height: 50px;
}

.pencil2 {
  margin-left: 27px;
}

.pencil1 {
  margin-left: 2px;
  margin-top: -10px;
}

.label_icons {
  font-size: 16px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  text-align: justify;
  color: #0a0430;
}

/*Estilização da seção vídeos educativos do site*/
.videos_educativos {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.title_videos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title_videosEducativos,
.title_videos_Tutoriais,
.title_videosHistorias,
.title_videosInterativos{
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #0a0430;
}

.title_videosEducativos::after,
.title_videos_Tutoriais::after,
.title_videosHistorias::after,
.title_videosInterativos::after{
    content: "";
    display: block;
    width: 60px;
    height: 8px;
}

.title_videosEducativos::after{
  background-color: #f19436;
}

.title_videos_Tutoriais::after{
  background-color:#6f24e9;
}

.title_videosHistorias::after{
  background-color: #FFC62F;
}

.title_videosInterativos::after{
  background-color: #e924ae;
}

.title_videos2 {
  font-family: DM Serif Display, sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  color: #f19436;
}

.grupo_videos {
  margin-top: 40px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-direction: column;
}

.moldura {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 220px;
  background-color: #d9d9d9;
  border-radius: 35px;
}

.label_moldura {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/*Estilização da seção vídeos tutoriais do site*/
.videos_tutoriais {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.rectangle_VTutoriais {
  width: 60px;
  height: 8px;
  margin-top: -30px;
  background-color: #6f24e9;
}

.title_videosTutoriais {
  font-family: DM Serif Display, sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  color: #6f24e9;
}

/*Estilização da seção histórias para dormir do site*/
.historias_dormir {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.rectangle_historias {
  width: 60px;
  height: 8px;
  margin-top: -30px;
  background-color: #ffc62f;
}

.title_historias {
  font-family: DM Serif Display, sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  color: #ffc62f;
}

/*Estilização da seção Aulas interativas do site*/
.aulas_interativas {
  margin: 0 auto;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.rectangle_AInterativa {
  width: 60px;
  height: 8px;
  margin-top: -30px;
  background-color: #e924ae;
}

.title_AInterativa {
  font-family: DM Serif Display, sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  color: #e924ae;
}

/*Configurando a responsividade*/

@media screen and (max-width: 1260px) {
  .img_resp {
    width: 11rem;
    margin-top: 1rem;
  }

  .title_Hero {
    padding-left: 5rem;
  }

  .moldura {
    width: 20rem;
  }

  .label_moldura {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1100px) {
  .moldura {
    width: 18rem;
  }

  .label_moldura {
    font-size: 1.1rem;
  }

  .iconPlus1 {
    right: 10rem;
  }

  .iconStar2 {
    left: 6rem;
  }

  .img_central {
    margin-left: 0.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .img_resp {
    width: 9.5rem;
    margin-top: 1rem;
  }

  .videos_educativos {
    margin: 4rem auto 0 auto;
  }

  .moldura {
    width: 16rem;
  }

  .label_moldura {
    font-size: 1rem;
  }

  .iconStar1 {
    top: 17rem;
  }

  .iconStar2 {
    top: 13rem;
  }
}

@media screen and (max-width: 950px) {
  .iconCircle1 {
    top: 13rem;
  }

  .iconCircle2 {
    top: 22rem;
  }

  .iconStar1 {
    top: 15rem;
  }

  .imgs_banner {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }

  .img_resp {
    width: 7.5rem;
    margin-top: 1rem;
  }

  .videos_educativos {
    margin: 6rem auto 0 auto;
  }

  .iconPlus1 {
    position: absolute;
    right: 5rem;
    top: 40rem;
  }
}

@media screen and (max-width: 900px) {
  .videos_educativos {
    margin: 4rem auto 0 auto;
  }

  .moldura {
    width: 14rem;
    height: 180px;
  }

  .label_moldura {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 820px) {
  .title_Hero {
    max-width: 35rem;
  }

  .iconStar1 {
    top: 16.4rem;
  }

  .iconStar2 {
    top: 16rem;
  }

  .iconCircle1 {
    top: 10rem;
  }
}